<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Example Company Google Authenticator provisioning - Error</title>
        <link href="$css_url" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="mainwindow" class="status">
            <div id="title">Example Company - Error</div>
            <div id="mainarea">
                <p class="error">
                    $errormsg
                </p>
                <p>
                You can <a href="$action_url">try again</a> or you can contact
                support at <a href="mailto:support@example.com">support@example.com</a>.
                </p>
            </div>
            <div id="copyright">
                Copyright &copy; 2012 by Example Company Ltd
            </div>
        </div>
    </body>
</html>
