<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Example Company Google Authenticator Provisioning</title>
        <link href="${css_root}provisioning.css" rel="stylesheet" type="text/css" />
        <link href="${css_root}provisioning-print.css" rel="stylesheet" media="print" type="text/css" />
    </head>
    <body>
        <div id="mainwindow" class="totp">
            <div id="title">Example Company Google Authenticator Provisioning</div>
            <div id="mainarea">
                <div class="message">
                    <p>
                    Existing token found. Replace?
                    </p>
                </div>
                <div class="explanation">
                    <p>
                    It looks like you already have an active token. If you
                    would like to replace it with a new token, please use the
                    form below to enter your 6-digit tokencode (or your 8-digit
                    scratch code).
                    </p>
                </div>
                <form id="reissue_form" name="reissue_form" action="$action_url" method="post" onsubmit="return confirm('This will delete your current token and issue a new one. Are you sure you want to proceed?')">
                    <input type="hidden" id="action" name="action" value="reissue"/>
                    <table border="0" align="center">
                        <tr>
                            <td class="fieldname">
                                <label for="username">Username:</label>
                            </td>
                            <td>
                                <input type="hidden" id="username" name="username" value="$username"/><b>$username</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="fieldname">
                                <label for="pincode">Password:</label>
                            </td>
                            <td>
                                <input type="password" id="pincode" name="pincode" class="inputfield"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="fieldname">
                                <label for="tokencode">Tokencode:</label>
                            </td>
                            <td>
                                <input type="text" id="tokencode" name="tokencode" class="inputfield"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="fieldname"></td>
                            <td>
                                <input type="submit" value="Submit &raquo;"/>
                            </td>
                        </tr>
                    </table>
                </form>
                <div id="support_requests">
                    <p>
                    If you require any help with your Google Authenticator
                    token or experience any difficulty replacing your
                    current token, please contact support at
                    <a href="mailto:support@example.com">support@example.com</a>
                    or call (555) 555-1212.
                </div>
            </div>
            <div id="copyright">
                Copyright &copy; 2012 by Example Company Ltd
            </div>
        </div>
    </body>
</html>
