
## <summary>policy for totpcgi_script</summary>


########################################
## <summary>
##	Transition to totpcgi_script.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`totpcgi_script_domtrans',`
	gen_require(`
		type totpcgi_script_t, totpcgi_script_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, totpcgi_script_exec_t, totpcgi_script_t)
')

########################################
## <summary>
##	Transition to totpcgi_provisioning_script.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`totpcgi_provisioning_script_domtrans',`
	gen_require(`
		type totpcgi_provisioning_script_t, totpcgi_provisioning_script_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, totpcgi_provisioning_script_exec_t, totpcgi_provisioning_script_t)
')

########################################
## <summary>
##	Read totpcgi conf files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`totpcgi_read_conf_files',`
	gen_require(`
		type totpcgi_etc_t;
	')

	allow $1 totpcgi_etc_t:file read_file_perms;
	allow $1 totpcgi_etc_t:dir list_dir_perms;
	files_search_etc($1)
')

########################################
## <summary>
##	Read totpcgi private conf files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`totpcgi_read_private_conf_files',`
	gen_require(`
		type totpcgi_private_etc_t;
	')

	allow $1 totpcgi_private_etc_t:file read_file_perms;
	allow $1 totpcgi_etc_t:dir list_dir_perms;
	files_search_etc($1)
')

########################################
## <summary>
##	Manage totpcgi conf files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`totpcgi_manage_conf_files',`
	gen_require(`
		type totpcgi_etc_t;
	')

	manage_files_pattern($1, totpcgi_etc_t, totpcgi_etc_t)
	files_search_etc($1)
')

########################################
## <summary>
##	Manage totpcgi private conf files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`totpcgi_manage_private_conf_files',`
	gen_require(`
		type totpcgi_private_etc_t;
        type totpcgi_etc_t;
	')

	allow $1 totpcgi_etc_t:dir list_dir_perms;
	manage_files_pattern($1, totpcgi_private_etc_t, totpcgi_private_etc_t)
	files_search_etc($1)
')

########################################
## <summary>
##	Search totpcgi_script lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`totpcgi_script_search_lib',`
	gen_require(`
		type totpcgi_script_var_lib_t;
	')

	allow $1 totpcgi_script_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read totpcgi_script lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`totpcgi_script_read_lib_files',`
	gen_require(`
		type totpcgi_script_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, totpcgi_script_var_lib_t, totpcgi_script_var_lib_t)
')

########################################
## <summary>
##	Manage totpcgi_script lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`totpcgi_script_manage_lib_files',`
	gen_require(`
		type totpcgi_script_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, totpcgi_script_var_lib_t, totpcgi_script_var_lib_t)
')

########################################
## <summary>
##	Manage totpcgi_script lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`totpcgi_script_manage_lib_dirs',`
	gen_require(`
		type totpcgi_script_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, totpcgi_script_var_lib_t, totpcgi_script_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an totpcgi_script environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`totpcgi_admin',`
	gen_require(`
		type totpcgi_script_t;
		type totpcgi_provisioning_script_t;
		type totpcgi_etc_t;
		type totpcgi_private_etc_t;
		type totpcgi_script_var_lib_t;
	')

	allow $1 totpcgi_script_t:process { ptrace signal_perms };
	allow $1 totpcgi_provisioning_script_t:process { ptrace signal_perms };
	ps_process_pattern($1, totpcgi_script_t)
	ps_process_pattern($1, totpcgi_provisioning_script_t)

	files_search_etc($1)
	admin_pattern($1, totpcgi_etc_t)
	admin_pattern($1, totpcgi_private_etc_t)

	files_search_var_lib($1)
	admin_pattern($1, totpcgi_script_var_lib_t)

')

